PORT=3000

DB_HOST=staffora-db.cl******qx1j.ap-southeast-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=*******
DB_NAME=staffora_db
DB_PORT=3306

AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=staffora-bucket
AWS_ACCESS_KEY_ID=AKIAZ******IFYND
AWS_SECRET_ACCESS_KEY=uMhb1S********4XmcNGKWvffCzNZ